* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after{
  clear: both;
}

body {
  color: #4f0390;
  font-family: Verdana, Geneva, sans-serif;
  max-width: 1700px;
  margin: 0 auto;
}

header {
  background-color: white;
  font-family: 'Caveat', cursive;
}

header img {
 margin: 20px 0 20px 50px;
 width: 10%;
 height: 10%;
}

.list {
  float: right;
  font-size: 17px;
  padding: 60px 50px 0 0;
}

a {
  text-decoration: none;
}

header a {
  color: #4f0390;
  font-size: 30px;
  padding-left: 30px;
}

header a:hover {
  color: #feba01;
}

main {
  background-color: #4f0390;
  color: white;
  padding: 50px 0 30px 0;
  text-align: center;
}

h1 {
  font-size: 60px;
  padding-bottom: 50px;
  text-align: center;
}

main p {
  padding-top: 30px;
  padding-bottom: 30px;
}

main a {
  color: #feba01;
}

main a:hover {
  color: white;
}

.container {
  display: flex;
}

.container > div {
  flex: 1; /*grow*/
}

.contact, footer {
  background-color: white;
  color: #4f0390;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

p {
  padding-top: 20px;
  padding-bottom: 0;
}

footer a {
  color: #4f0390;
}

footer a:hover {
  color: #feba01;
}

.contact {
  background-color: #4f0390;
  color: #feba01;
}

.contact a {
  text-decoration: none;
  color: #feba01;
}

.contact a:hover {
  color: white;
}
